html,
body {
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* ESTILOS PADRÃO */
body {
    background-color: #fbfbfb;
    display: flex;
    min-width: 320px;
    max-width: 586px;
    flex-direction: column;
    align-items: flex-start;
    /* width: 100vw; */
}

/* ESTILOS UNIVERSAIS */

/* TEXTOS */
h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px
}

h3 {
    font-size: 18px
}

p,
a {
    font-size: 14px
}

/*SEÇÕES COM DISPLAY FLEX*/
.secao-topo,
.secao-sobre,
.menu-navegacao,
.secao-banner,
.capa-escura {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

}

/* CORES DOS TEXTOS */
header nav a,
.texto-do-item>p:first-child, .secao-sobre p:nth-child(3) {
    color: #292D32;
}

.secao-subtitulo p,
.texto-do-item>p:nth-child(2),
.texto-deslize p,
.texto-do-contato p {
    color: #4f4f4f
}

h2,
h3, span {
    color: #F2A900;
}

/* TEXTO CENTRALIZADO */

.secao-sobre {
    text-align: center;
}
/* LINKS COM FUNDO AMARELO E TEXTO BRANCO */
.secao-resumo a, .link-curriculo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2A900;
    text-decoration: none;
    border-radius: 16px;
}
.secao-resumo a p, .link-curriculo {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 167%;
}
/* TOPO */
.secao-topo {
    flex-direction: column;
    height: 88px;
    gap: 12px;
    background-color: #fbfbfb;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.logotipo {
    width: 91px;
    height: 25px;
    flex-shrink: 0;
}

.menu-navegacao {
    gap: 28px;
}

header nav a {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 2px;
}

header nav a:hover {
    background-color: #F2A900;
    border-radius: 6px;
}


/* BANNER */
.secao-banner {
    height: 622px;
    background: url(/img/IMG\ CAPA.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #fff;
}

.capa-escura {
    padding: 0px 42px;
    flex-direction: column;

    flex: 1 0 0;
    background: rgba(0, 0, 0, 0.62);
}

.secao-resumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

/* REAPROVEITAR */
h1 {
    color: #F2A900;
    font-weight: 700;
    line-height: 167.5%;
    font-style: normal;
    font-weight: 700;

}

/* CONTINUAÇÃO BANNER */
.subtitulo {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 14px;
}

.subtitulo img {
    width: 58px;
    height: 18px;
}

#paragrafo-resumo {
    font-weight: 400;
    line-height: 167%;
}

/* link atalho para seção contato */
.secao-resumo a {
    height: 28px;
    padding: 11px 7px;    
    gap: 10px;
    
    
}


/* SEÇÃO SOBRE */
.secao-sobre {
    flex-direction: column;
    padding: 86px 42px;
    gap: 32px;
}
.foto-perfil {
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.secao-sobre p:nth-child(3){    
    line-height: 23px;
}
span{
    font-weight: bold;
}
.link-curriculo{
    padding: 8px;
    gap: 10px;
}